*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.gradle/
/.idea/
/app/build/
/build/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
*.log
-p/ 